# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.development
.env.staging

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Project-specific large files / backups
*.zip
*.sql
cookies.txt
uploads/
attached_assets/*
!attached_assets/Website FFC_20250531_190536_0000_1749327853462.png
!attached_assets/process-desktop_1749457628105.png
!attached_assets/process-mobile_1749457628106.png
Iskcon-Juhu-Crm/
